*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100vh;
}

.input-container,
.buttons-container {
    margin-bottom: 40px;
}

.grid {
    display: flex;
    flex-direction: column;

    width: 600px;
    height: 600px;

}

.row {
    display: flex;
}

.square {
    border: 0.1px solid hsl(0, 0%, 30%);
}

.active {
    background-color: yellow;
}